body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Marco-de-texto-b-sico {
	border-style:solid;
}
table.Ningún-estilo-de-tabla {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Ningún-estilo-de-tabla {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
p.Autores {
	color:#1a428a;
	font-family:"Trebuchet MS", sans-serif;
	font-size:20px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:80px;
	margin-left:0;
	margin-right:20px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.Bullet-3-guiones-OK, p.Bullet-3-guiones-OK {
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	margin-bottom:0;
	margin-left:72px;
	margin-right:10px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Bullet-3-puntos-ok {
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:72px;
	margin-right:10px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Bullet-4-guiones-ok {
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	margin-bottom:0;
	margin-left:107px;
	margin-right:10px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Bullet-4-puntos-OK {
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:72px;
	margin-right:10px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Bullets-numeros-ok {
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:decimal;
	margin-bottom:0;
	margin-left:36px;
	margin-right:10px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Bullets-puntos-ok {
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:35px;
	margin-right:10px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Cuadros, li.Cuadros {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:15px;
	margin-left:10px;
	margin-right:10px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Num--capitulo {
	-epub-hyphens:none;
	color:#1a428a;
	font-family:"Trebuchet MS", sans-serif;
	font-size:48px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:50px;
	margin-left:5px;
	margin-right:5px;
	margin-top:10px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:5px;
	text-transform:none;
	widows:1;
}
p.Referencias {
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:decimal;
	margin-bottom:5px;
	margin-left:10px;
	margin-right:10px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Texto {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:15px;
	margin-left:10px;
	margin-right:5px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Titulo-1 {
	-epub-hyphens:none;
	color:#1a428a;
	font-family:"Trebuchet MS", sans-serif;
	font-size:22px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:15px;
	margin-left:10px;
	margin-right:5px;
	margin-top:15px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.Titulo-2 {
	-epub-hyphens:none;
	color:#1a428a;
	font-family:"Trebuchet MS", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:15px;
	margin-left:10px;
	margin-right:5px;
	margin-top:15px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Titulo-3 {
	-epub-hyphens:none;
	color:#1a428a;
	font-family:"Trebuchet MS", sans-serif;
	font-size:18px;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:15px;
	margin-left:10px;
	margin-right:5px;
	margin-top:15px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Titulo-cap {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:38px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:40px;
	margin-left:10px;
	margin-right:5px;
	margin-top:10px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Amarillo-16-pts {
	color:#1a428a;
	font-family:"Trebuchet MS", sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.Azul-15-pts-bold-bullet {
	color:#1a428a;
	font-family:"Trebuchet MS", sans-serif;
	font-size:15px;
	font-style:normal;
	font-weight:bold;
}
span.Azul-17-pts-regular {
	color:#1a428a;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-weight:normal;
}
span.apple-style-span {
	color:#000000;
}
table.TableOverride-1 {
	border-collapse:collapse;
	border-style:none;
	border-width:0px;
	margin-left:10px;
	margin-right:10px;
}
td.CellOverride-1 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:middle;
}
td.CellOverride-2 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:middle;
}
td.CellOverride-3 {
	border-bottom-color:#000000;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:middle;
}
td.CellOverride-4 {
	border-bottom-color:#000000;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:middle;
}
td.CellOverride-5 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:middle;
}
td.CellOverride-6 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:middle;
}
td.CellOverride-7 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:middle;
}
td.CellOverride-8 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:middle;
}
td.CellOverride-9 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-10 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:none;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-11 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:none;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-12 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-13 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-14 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-15 {
	background-color:#8da0c4;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-16 {
	background-color:#e8ecf3;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-17 {
	background-color:#bac6dc;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
p.ParaOverride-1 {
	list-style-type:none;
}
p.ParaOverride-2 {
	list-style-type:none;
	margin-left:102px;
}
p.ParaOverride-3 {
	margin-top:20px;
}
p.ParaOverride-4 {
	margin-bottom:5px;
}
p.ParaOverride-5 {
	margin-top:40px;
}
p.ParaOverride-6 {
	margin-bottom:3px;
}
p.ParaOverride-7 {
	margin-top:10px;
}
p.ParaOverride-8 {
	margin-bottom:4px;
}
li.ParaOverride-9 {
	margin-bottom:5px;
	text-align:left;
	text-indent:0px;
}
li.ParaOverride-10 {
	margin-bottom:5px;
	text-indent:0px;
}
li.ParaOverride-11 {
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:5px;
	margin-left:11px;
	text-indent:0px;
}
p.ParaOverride-12 {
	list-style-type:none;
	margin-top:20px;
}
p.ParaOverride-13 {
	list-style-type:none;
	margin-bottom:3px;
}
p.ParaOverride-14 {
	margin-bottom:5px;
	text-align:center;
}
p.ParaOverride-15 {
	margin-bottom:5px;
	margin-left:22px;
}
p.ParaOverride-16 {
	list-style-position:outside;
	list-style-type:none;
	margin-left:30px;
	text-indent:-18px;
}
p.ParaOverride-17 {
	list-style-position:outside;
	list-style-type:none;
	margin-bottom:80px;
	margin-left:30px;
	text-indent:-18px;
}
span.CharOverride-1 {
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-2 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	font-family:"Gandhi Serif", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#1a428a;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-5 {
	color:#ffffff;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-6 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-7 {
	font-size:13px;
}
span.CharOverride-8 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-9 {
	font-size:15px;
}
span.CharOverride-10 {
	color:#1a428a;
}
span.CharOverride-11 {
	font-size:58%;
	vertical-align:sub;
}
span.CharOverride-12 {
	font-size:58%;
	font-style:italic;
	font-weight:normal;
	vertical-align:super;
}
col._idGenTableRowColumn-1 {
	width:970px;
}
tr._idGenTableRowColumn-2 {
	min-height:22px;
}
tr._idGenTableRowColumn-3 {
	background-color:#e8ecf3;
	min-height:22px;
}
tr._idGenTableRowColumn-4 {
	background-color:#bac6dc;
	min-height:22px;
}
tr._idGenTableRowColumn-5 {
	background-color:#e8ecf3;
	min-height:31px;
}
tr._idGenTableRowColumn-6 {
	background-color:#bac6dc;
	min-height:31px;
}
col._idGenTableRowColumn-7 {
	width:233px;
}
col._idGenTableRowColumn-8 {
	width:508px;
}
col._idGenTableRowColumn-9 {
	width:548px;
}
tr._idGenTableRowColumn-10 {
	background-color:#e8ecf3;
	min-height:49px;
}
col._idGenTableRowColumn-11 {
	width:218px;
}
col._idGenTableRowColumn-12 {
	width:752px;
}
tr._idGenTableRowColumn-13 {
	background-color:#e8ecf3;
	min-height:54px;
}
tr._idGenTableRowColumn-14 {
	background-color:#bac6dc;
	min-height:210px;
}
tr._idGenTableRowColumn-15 {
	background-color:#bac6dc;
	min-height:113px;
}
col._idGenTableRowColumn-16 {
	background-color:#e8ecf3;
	width:146px;
}
col._idGenTableRowColumn-17 {
	background-color:#bac6dc;
	width:186px;
}
col._idGenTableRowColumn-18 {
	background-color:#e8ecf3;
	width:292px;
}
col._idGenTableRowColumn-19 {
	background-color:#bac6dc;
	width:188px;
}
col._idGenTableRowColumn-20 {
	background-color:#e8ecf3;
	width:254px;
}
col._idGenTableRowColumn-21 {
	background-color:#e8ecf3;
	width:144px;
}
tr._idGenTableRowColumn-22 {
	min-height:600px;
}
col._idGenTableRowColumn-23 {
	width:1068px;
}
col._idGenTableRowColumn-24 {
	width:244px;
}
col._idGenTableRowColumn-25 {
	width:91px;
}
col._idGenTableRowColumn-26 {
	width:114px;
}
col._idGenTableRowColumn-27 {
	width:194px;
}
col._idGenTableRowColumn-28 {
	width:285px;
}
col._idGenTableRowColumn-29 {
	width:3px;
}
col._idGenTableRowColumn-30 {
	width:257px;
}
tr._idGenTableRowColumn-31 {
	min-height:320px;
}
tr._idGenTableRowColumn-32 {
	background-color:#bac6dc;
	min-height:307px;
}
tr._idGenTableRowColumn-33 {
	background-color:#bac6dc;
	min-height:353px;
}
col._idGenTableRowColumn-34 {
	width:416px;
}
col._idGenTableRowColumn-35 {
	width:554px;
}
tr._idGenTableRowColumn-36 {
	min-height:220px;
}
col._idGenTableRowColumn-37 {
	width:148px;
}
col._idGenTableRowColumn-38 {
	width:202px;
}
col._idGenTableRowColumn-39 {
	width:768px;
}
tr._idGenTableRowColumn-40 {
	background-color:#e8ecf3;
	min-height:240px;
}
tr._idGenTableRowColumn-41 {
	background-color:#bac6dc;
	min-height:243px;
}
col._idGenTableRowColumn-42 {
	width:210px;
}
col._idGenTableRowColumn-43 {
	width:456px;
}
col._idGenTableRowColumn-44 {
	width:442px;
}
col._idGenTableRowColumn-45 {
	width:232px;
}
tr._idGenTableRowColumn-46 {
	background-color:#e8ecf3;
	min-height:59px;
}
tr._idGenTableRowColumn-47 {
	background-color:#bac6dc;
	min-height:36px;
}
tr._idGenTableRowColumn-48 {
	background-color:#bac6dc;
	min-height:422px;
}
tr._idGenTableRowColumn-49 {
	background-color:#e8ecf3;
	min-height:600px;
}
tr._idGenTableRowColumn-50 {
	background-color:#bac6dc;
	min-height:24px;
}
tr._idGenTableRowColumn-51 {
	background-color:#bac6dc;
	min-height:398px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
