body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Marco-de-texto-b-sico {
	border-style:solid;
}
table.Ningún-estilo-de-tabla {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Ningún-estilo-de-tabla {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
p.Autores {
	color:#1a428a;
	font-family:"Trebuchet MS", sans-serif;
	font-size:20px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:80px;
	margin-left:0;
	margin-right:20px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Bellets-leras {
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:lower-alpha;
	margin-bottom:0;
	margin-left:36px;
	margin-right:10px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Bullet-2 {
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:24px;
	margin-right:10px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Bullet-3-guiones-OK {
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	margin-bottom:0;
	margin-left:72px;
	margin-right:10px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Bullet-3-letras-ok {
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:lower-alpha;
	margin-bottom:0;
	margin-left:72px;
	margin-right:10px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Bullet-3-puntos-ok {
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:72px;
	margin-right:10px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Bullet-4-puntos-OK {
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:72px;
	margin-right:10px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Bullets-guiones-ok {
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	margin-bottom:0;
	margin-left:35px;
	margin-right:10px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Bullets-numeros-ok {
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:decimal;
	margin-bottom:0;
	margin-left:36px;
	margin-right:10px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Bullets-ok {
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:35px;
	margin-right:10px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Bullets-puntos-ok {
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:35px;
	margin-right:10px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Cuadros, li.Cuadros {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:15px;
	margin-left:10px;
	margin-right:10px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Num--capitulo {
	-epub-hyphens:none;
	color:#1a428a;
	font-family:"Trebuchet MS", sans-serif;
	font-size:48px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:50px;
	margin-left:5px;
	margin-right:5px;
	margin-top:10px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:5px;
	text-transform:none;
	widows:1;
}
p.Pie-de-foto {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:15px;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Referencias {
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:decimal;
	margin-bottom:5px;
	margin-left:10px;
	margin-right:10px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Texto {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:15px;
	margin-left:10px;
	margin-right:5px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Titulo-1 {
	-epub-hyphens:none;
	color:#1a428a;
	font-family:"Trebuchet MS", sans-serif;
	font-size:22px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:15px;
	margin-left:10px;
	margin-right:5px;
	margin-top:15px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.Titulo-2 {
	-epub-hyphens:none;
	color:#1a428a;
	font-family:"Trebuchet MS", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:15px;
	margin-left:10px;
	margin-right:5px;
	margin-top:15px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Titulo-3 {
	-epub-hyphens:none;
	color:#1a428a;
	font-family:"Trebuchet MS", sans-serif;
	font-size:18px;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:15px;
	margin-left:10px;
	margin-right:5px;
	margin-top:15px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Titulo-4 {
	-epub-hyphens:none;
	color:#1a428a;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:15px;
	margin-left:10px;
	margin-right:5px;
	margin-top:15px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Titulo-cap {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:38px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:40px;
	margin-left:10px;
	margin-right:5px;
	margin-top:10px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Amarillo-16-pts {
	color:#1a428a;
	font-family:"Trebuchet MS", sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.Azul-10-pts-regular {
	color:#1a428a;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-weight:normal;
}
span.Azul-15-pts-bold-bullet {
	color:#1a428a;
	font-family:"Trebuchet MS", sans-serif;
	font-size:15px;
	font-style:normal;
	font-weight:bold;
}
span.Azul-17-pts-regular {
	color:#1a428a;
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-weight:normal;
}
span.Hiperv-nculo {
	color:#000000;
	text-decoration:underline;
}
table.TableOverride-1 {
	border-collapse:collapse;
	border-style:none;
	border-width:0px;
	margin-left:10px;
	margin-right:10px;
}
td.CellOverride-1 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-2 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-3 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-4 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-5 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:none;
	border-left-width:0px;
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-6 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-width:0px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-7 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-width:0px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#000000;
	border-right-style:none;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-8 {
	border-bottom-color:#000000;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:none;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:none;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-9 {
	border-bottom-color:#000000;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:none;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:none;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-10 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:none;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:none;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-11 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:none;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:none;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-12 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:middle;
}
td.CellOverride-13 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:middle;
}
td.CellOverride-14 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:middle;
}
td.CellOverride-15 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:middle;
}
td.CellOverride-16 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:middle;
}
td.CellOverride-17 {
	background-color:#e8ecf3;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-18 {
	background-color:#1a428a;
	border-bottom-color:#ffffff;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-19 {
	background-color:#1a428a;
	border-bottom-color:#ffffff;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-20 {
	background-color:#1a428a;
	border-bottom-color:#ffffff;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-21 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-22 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-23 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#ffffff;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-24 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:middle;
}
td.CellOverride-25 {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:none;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:none;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:none;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-26 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:0px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
td.CellOverride-27 {
	background-color:#1a428a;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:0px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#000000;
	border-right-style:none;
	border-right-width:0px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	vertical-align:top;
}
p.ParaOverride-1 {
	list-style-type:none;
}
p.ParaOverride-2 {
	margin-bottom:3px;
}
p.ParaOverride-3 {
	list-style-type:none;
	margin-bottom:3px;
}
p.ParaOverride-4 {
	margin-top:80px;
}
p.ParaOverride-5 {
	margin-bottom:30px;
}
p.ParaOverride-6 {
	margin-bottom:6px;
}
p.ParaOverride-7 {
	margin-top:20px;
}
p.ParaOverride-8 {
	margin-bottom:5px;
}
p.ParaOverride-9 {
	margin-bottom:5px;
	text-align:center;
}
p.ParaOverride-10 {
	margin-top:10px;
}
p.ParaOverride-11 {
	margin-bottom:1px;
}
p.ParaOverride-12 {
	margin-bottom:0px;
}
p.ParaOverride-13 {
	margin-bottom:50px;
}
p.ParaOverride-14 {
	margin-top:40px;
}
p.ParaOverride-15 {
	list-style-position:outside;
	list-style-type:none;
	text-indent:-11px;
}
p.ParaOverride-16 {
	list-style-type:none;
	margin-left:68px;
}
p.ParaOverride-17 {
	list-style-position:outside;
	list-style-type:none;
	margin-left:84px;
	text-indent:-14px;
}
p.ParaOverride-18 {
	list-style-position:outside;
	list-style-type:none;
	margin-left:82px;
	text-indent:-11px;
}
p.ParaOverride-19 {
	list-style-type:none;
	margin-bottom:1px;
}
p.ParaOverride-20 {
	text-align:center;
}
li.ParaOverride-21 {
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:5px;
	margin-left:18px;
	text-indent:0px;
}
p.ParaOverride-22 {
	margin-bottom:5px;
	margin-top:10px;
}
p.ParaOverride-23 {
	list-style-position:outside;
	list-style-type:none;
	margin-bottom:3px;
	text-indent:-11px;
}
p.ParaOverride-24 {
	list-style-position:outside;
	list-style-type:none;
	margin-left:80px;
	text-indent:-11px;
}
p.ParaOverride-25 {
	list-style-type:none;
	margin-left:25px;
}
p.ParaOverride-26 {
	list-style-type:none;
	margin-left:71px;
}
p.ParaOverride-27 {
	margin-bottom:3px;
	margin-top:10px;
}
p.ParaOverride-28 {
	list-style-position:outside;
	list-style-type:none;
	margin-left:40px;
	text-indent:-4px;
}
p.ParaOverride-29 {
	margin-bottom:20px;
}
p.ParaOverride-30 {
	margin-bottom:5px;
	margin-top:0px;
}
p.ParaOverride-31 {
	margin-top:0px;
}
p.ParaOverride-32 {
	list-style-type:none;
	margin-bottom:4px;
}
p.ParaOverride-33 {
	list-style-type:none;
	margin-bottom:7px;
}
p.ParaOverride-34 {
	margin-bottom:9px;
}
p.ParaOverride-35 {
	list-style-position:outside;
	list-style-type:none;
	margin-left:30px;
	text-indent:-18px;
}
p.ParaOverride-36 {
	list-style-position:outside;
	list-style-type:none;
	margin-bottom:80px;
	margin-left:30px;
	text-indent:-18px;
}
span.CharOverride-1 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-2 {
	font-family:"Gandhi Serif", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-4 {
	font-size:17px;
}
span.CharOverride-5 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-6 {
	color:#1a428a;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-7 {
	color:#ffffff;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-8 {
	font-size:13px;
}
span.CharOverride-9 {
	color:#1a428a;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-10 {
	font-family:Optima, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	font-family:Optima, sans-serif;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-12 {
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-13 {
	font-size:58%;
	vertical-align:sub;
}
span.CharOverride-14 {
	font-family:"Trebuchet MS", sans-serif;
	font-size:17px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-15 {
	color:#1a428a;
}
col._idGenTableRowColumn-1 {
	width:154px;
}
col._idGenTableRowColumn-2 {
	width:79px;
}
col._idGenTableRowColumn-3 {
	width:121px;
}
col._idGenTableRowColumn-4 {
	width:174px;
}
col._idGenTableRowColumn-5 {
	width:130px;
}
col._idGenTableRowColumn-6 {
	width:418px;
}
tr._idGenTableRowColumn-7 {
	min-height:36px;
}
tr._idGenTableRowColumn-8 {
	background-color:#e8ecf3;
	min-height:77px;
}
tr._idGenTableRowColumn-9 {
	background-color:#bac6dc;
	min-height:59px;
}
tr._idGenTableRowColumn-10 {
	background-color:#e8ecf3;
	min-height:95px;
}
tr._idGenTableRowColumn-11 {
	background-color:#bac6dc;
	min-height:54px;
}
tr._idGenTableRowColumn-12 {
	background-color:#e8ecf3;
	min-height:54px;
}
col._idGenTableRowColumn-13 {
	width:338px;
}
col._idGenTableRowColumn-14 {
	width:106px;
}
tr._idGenTableRowColumn-15 {
	min-height:22px;
}
tr._idGenTableRowColumn-16 {
	background-color:#e8ecf3;
	min-height:113px;
}
tr._idGenTableRowColumn-17 {
	background-color:#bac6dc;
	min-height:36px;
}
tr._idGenTableRowColumn-18 {
	background-color:#bac6dc;
	min-height:22px;
}
col._idGenTableRowColumn-19 {
	width:183px;
}
tr._idGenTableRowColumn-20 {
	min-height:18px;
}
tr._idGenTableRowColumn-21 {
	background-color:#e8ecf3;
	min-height:205px;
}
tr._idGenTableRowColumn-22 {
	background-color:#e8ecf3;
	min-height:36px;
}
tr._idGenTableRowColumn-23 {
	background-color:#e8ecf3;
	min-height:40px;
}
tr._idGenTableRowColumn-24 {
	background-color:#bac6dc;
	min-height:457px;
}
col._idGenTableRowColumn-25 {
	width:324px;
}
col._idGenTableRowColumn-26 {
	width:254px;
}
tr._idGenTableRowColumn-27 {
	min-height:25px;
}
tr._idGenTableRowColumn-28 {
	background-color:#e8ecf3;
	min-height:59px;
}
tr._idGenTableRowColumn-29 {
	background-color:#bac6dc;
	min-height:82px;
}
col._idGenTableRowColumn-30 {
	background-color:#e8ecf3;
	width:216px;
}
col._idGenTableRowColumn-31 {
	background-color:#bac6dc;
	width:112px;
}
col._idGenTableRowColumn-32 {
	background-color:#e8ecf3;
	width:74px;
}
col._idGenTableRowColumn-33 {
	background-color:#bac6dc;
	width:252px;
}
col._idGenTableRowColumn-34 {
	background-color:#e8ecf3;
	width:284px;
}
col._idGenTableRowColumn-35 {
	background-color:#bac6dc;
	width:76px;
}
tr._idGenTableRowColumn-36 {
	min-height:565px;
}
col._idGenTableRowColumn-37 {
	width:170px;
}
col._idGenTableRowColumn-38 {
	width:800px;
}
tr._idGenTableRowColumn-39 {
	background-color:#e8ecf3;
	min-height:22px;
}
tr._idGenTableRowColumn-40 {
	background-color:#e8ecf3;
	min-height:200px;
}
col._idGenTableRowColumn-41 {
	width:141px;
}
col._idGenTableRowColumn-42 {
	width:229px;
}
col._idGenTableRowColumn-43 {
	width:250px;
}
col._idGenTableRowColumn-44 {
	width:132px;
}
col._idGenTableRowColumn-45 {
	width:9px;
}
col._idGenTableRowColumn-46 {
	width:198px;
}
col._idGenTableRowColumn-47 {
	width:240px;
}
tr._idGenTableRowColumn-48 {
	background-color:#e8ecf3;
	min-height:346px;
}
tr._idGenTableRowColumn-49 {
	background-color:#bac6dc;
	min-height:223px;
}
tr._idGenTableRowColumn-50 {
	background-color:#e8ecf3;
	min-height:177px;
}
tr._idGenTableRowColumn-51 {
	background-color:#bac6dc;
	min-height:77px;
}
col._idGenTableRowColumn-52 {
	width:136px;
}
col._idGenTableRowColumn-53 {
	width:308px;
}
col._idGenTableRowColumn-54 {
	width:212px;
}
tr._idGenTableRowColumn-55 {
	min-height:38px;
}
col._idGenTableRowColumn-56 {
	background-color:#bac6dc;
	width:284px;
}
col._idGenTableRowColumn-57 {
	width:320px;
}
col._idGenTableRowColumn-58 {
	width:398px;
}
tr._idGenTableRowColumn-59 {
	background-color:#bac6dc;
	min-height:31px;
}
col._idGenTableRowColumn-60 {
	width:193px;
}
col._idGenTableRowColumn-61 {
	width:97px;
}
tr._idGenTableRowColumn-62 {
	min-height:31px;
}
tr._idGenTableRowColumn-63 {
	background-color:#e8ecf3;
	min-height:146px;
}
col._idGenTableRowColumn-64 {
	width:120px;
}
col._idGenTableRowColumn-65 {
	width:850px;
}
tr._idGenTableRowColumn-66 {
	background-color:#bac6dc;
	min-height:90px;
}
col._idGenTableRowColumn-67 {
	width:480px;
}
col._idGenTableRowColumn-68 {
	width:490px;
}
tr._idGenTableRowColumn-69 {
	background-color:#e8ecf3;
	min-height:31px;
}
tr._idGenTableRowColumn-70 {
	background-color:#bac6dc;
	min-height:238px;
}
col._idGenTableRowColumn-71 {
	width:272px;
}
col._idGenTableRowColumn-72 {
	width:698px;
}
tr._idGenTableRowColumn-73 {
	background-color:#bac6dc;
	min-height:49px;
}
col._idGenTableRowColumn-74 {
	width:326px;
}
col._idGenTableRowColumn-75 {
	width:644px;
}
tr._idGenTableRowColumn-76 {
	background-color:#e8ecf3;
	min-height:90px;
}
col._idGenTableRowColumn-77 {
	width:410px;
}
col._idGenTableRowColumn-78 {
	width:560px;
}
col._idGenTableRowColumn-79 {
	width:334px;
}
col._idGenTableRowColumn-80 {
	width:636px;
}
tr._idGenTableRowColumn-81 {
	background-color:#bac6dc;
	min-height:105px;
}
col._idGenTableRowColumn-82 {
	width:323px;
}
col._idGenTableRowColumn-83 {
	width:428px;
}
col._idGenTableRowColumn-84 {
	width:256px;
}
col._idGenTableRowColumn-85 {
	width:286px;
}
#_idContainer002 {
	display:inline-block;
	padding:2.76% 0% 0% 0%;
	position:relative;
	width:97.89%;
}
img._idGenObjectAttribute-1 {
	width:57.85%;
}
img._idGenObjectAttribute-2 {
	width:63.62%;
}
img._idGenObjectAttribute-3 {
	width:28.92%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
