page-cap9 {
    body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
        margin:0;
        padding:0;
        border-width:0;
    }
    body {
        -epub-hyphens:auto;
    }
    div.Marco-de-texto-b-sico {
        border-style:solid;
    }
    table.Ningún-estilo-de-tabla {
        border-collapse:collapse;
        border-color:#000000;
        border-style:solid;
        border-width:1px;
        margin-bottom:-4px;
        margin-top:4px;
    }
    td.Ningún-estilo-de-tabla {
        border-left-width:1px;
        border-left-style:solid;
        border-left-color:#000000;
        border-top-width:1px;
        border-top-style:solid;
        border-top-color:#000000;
        border-right-width:1px;
        border-right-style:solid;
        border-right-color:#000000;
        border-bottom-width:1px;
        border-bottom-style:solid;
        border-bottom-color:#000000;
        padding-top:4px;
        padding-bottom:4px;
        padding-left:4px;
        padding-right:4px;
        vertical-align:top;
    }
    p.Autores {
        color:#1a428a;
        font-family:"Trebuchet MS", sans-serif;
        font-size:20px;
        font-style:normal;
        font-variant:small-caps;
        font-weight:bold;
        line-height:1.2;
        margin-bottom:80px;
        margin-left:0;
        margin-right:20px;
        margin-top:0;
        orphans:1;
        page-break-after:auto;
        page-break-before:auto;
        text-align:right;
        text-decoration:none;
        text-indent:0;
        text-transform:none;
        widows:1;
    }
    p.Bullet-3-guiones-OK {
        color:#000000;
        font-family:"Trebuchet MS", sans-serif;
        font-size:17px;
        font-style:normal;
        font-variant:normal;
        font-weight:normal;
        line-height:1.2;
        list-style-position:inside;
        margin-bottom:0;
        margin-left:72px;
        margin-right:10px;
        margin-top:0;
        orphans:1;
        page-break-after:auto;
        page-break-before:auto;
        text-align:justify;
        text-align-last:left;
        text-decoration:none;
        text-indent:0;
        text-transform:none;
        widows:1;
    }
    p.Bullets-puntos-ok {
        color:#000000;
        font-family:"Trebuchet MS", sans-serif;
        font-size:17px;
        font-style:normal;
        font-variant:normal;
        font-weight:normal;
        line-height:1.2;
        list-style-position:inside;
        list-style-type:disc;
        margin-bottom:0;
        margin-left:35px;
        margin-right:10px;
        margin-top:0;
        orphans:1;
        page-break-after:auto;
        page-break-before:auto;
        text-align:justify;
        text-align-last:left;
        text-decoration:none;
        text-indent:0;
        text-transform:none;
        widows:1;
    }
    p.Cuadros {
        -epub-hyphens:none;
        color:#000000;
        font-family:"Trebuchet MS", sans-serif;
        font-size:15px;
        font-style:normal;
        font-variant:normal;
        font-weight:normal;
        line-height:1.2;
        margin-bottom:15px;
        margin-left:10px;
        margin-right:10px;
        margin-top:0;
        orphans:1;
        page-break-after:auto;
        page-break-before:auto;
        text-align:left;
        text-decoration:none;
        text-indent:0;
        text-transform:none;
        widows:1;
    }
    p.Num--capitulo {
        -epub-hyphens:none;
        color:#1a428a;
        font-family:"Trebuchet MS", sans-serif;
        font-size:48px;
        font-style:normal;
        font-variant:normal;
        font-weight:bold;
        line-height:1.2;
        margin-bottom:50px;
        margin-left:5px;
        margin-right:5px;
        margin-top:10px;
        orphans:1;
        page-break-after:auto;
        page-break-before:auto;
        text-align:center;
        text-decoration:none;
        text-indent:5px;
        text-transform:none;
        widows:1;
    }
    p.Pie-de-foto {
        -epub-hyphens:none;
        color:#000000;
        font-family:"Trebuchet MS", sans-serif;
        font-size:15px;
        font-style:normal;
        font-variant:normal;
        font-weight:normal;
        line-height:1.2;
        margin-bottom:15px;
        margin-left:10px;
        margin-right:10px;
        margin-top:10px;
        orphans:1;
        page-break-after:auto;
        page-break-before:auto;
        text-align:center;
        text-decoration:none;
        text-indent:0;
        text-transform:none;
        widows:1;
    }
    p.Referencias {
        color:#000000;
        font-family:"Trebuchet MS", sans-serif;
        font-size:14px;
        font-style:normal;
        font-variant:normal;
        font-weight:normal;
        line-height:1.2;
        list-style-position:inside;
        list-style-type:decimal;
        margin-bottom:5px;
        margin-left:10px;
        margin-right:10px;
        margin-top:0;
        orphans:1;
        page-break-after:auto;
        page-break-before:auto;
        text-align:justify;
        text-align-last:left;
        text-decoration:none;
        text-indent:0;
        text-transform:none;
        widows:1;
    }
    p.Texto {
        -epub-hyphens:none;
        color:#000000;
        font-family:"Trebuchet MS", sans-serif;
        font-size:17px;
        font-style:normal;
        font-variant:normal;
        font-weight:normal;
        line-height:1.2;
        margin-bottom:15px;
        margin-left:10px;
        margin-right:5px;
        margin-top:0;
        orphans:1;
        page-break-after:auto;
        page-break-before:auto;
        text-align:left;
        text-decoration:none;
        text-indent:0;
        text-transform:none;
        widows:1;
    }
    p.Titulo-1 {
        -epub-hyphens:none;
        color:#1a428a;
        font-family:"Trebuchet MS", sans-serif;
        font-size:22px;
        font-style:normal;
        font-variant:normal;
        font-weight:bold;
        line-height:1.2;
        margin-bottom:15px;
        margin-left:10px;
        margin-right:5px;
        margin-top:15px;
        orphans:1;
        page-break-after:auto;
        page-break-before:auto;
        text-align:left;
        text-decoration:none;
        text-indent:0;
        text-transform:uppercase;
        widows:1;
    }
    p.Titulo-2 {
        -epub-hyphens:none;
        color:#1a428a;
        font-family:"Trebuchet MS", sans-serif;
        font-size:18px;
        font-style:normal;
        font-variant:normal;
        font-weight:bold;
        line-height:1.2;
        margin-bottom:15px;
        margin-left:10px;
        margin-right:5px;
        margin-top:15px;
        orphans:1;
        page-break-after:auto;
        page-break-before:auto;
        text-align:left;
        text-decoration:none;
        text-indent:0;
        text-transform:none;
        widows:1;
    }
    p.Titulo-3 {
        -epub-hyphens:none;
        color:#1a428a;
        font-family:"Trebuchet MS", sans-serif;
        font-size:18px;
        font-style:italic;
        font-variant:normal;
        font-weight:bold;
        line-height:1.2;
        margin-bottom:15px;
        margin-left:10px;
        margin-right:5px;
        margin-top:15px;
        orphans:1;
        page-break-after:auto;
        page-break-before:auto;
        text-align:left;
        text-decoration:none;
        text-indent:0;
        text-transform:none;
        widows:1;
    }
    p.Titulo-4 {
        -epub-hyphens:none;
        color:#1a428a;
        font-family:"Trebuchet MS", sans-serif;
        font-size:17px;
        font-style:italic;
        font-variant:normal;
        font-weight:normal;
        line-height:1.2;
        margin-bottom:15px;
        margin-left:10px;
        margin-right:5px;
        margin-top:15px;
        orphans:1;
        page-break-after:auto;
        page-break-before:auto;
        text-align:left;
        text-decoration:none;
        text-indent:0;
        text-transform:none;
        widows:1;
    }
    p.Titulo-cap {
        -epub-hyphens:none;
        color:#000000;
        font-family:"Trebuchet MS", sans-serif;
        font-size:38px;
        font-style:normal;
        font-variant:normal;
        font-weight:bold;
        line-height:1.2;
        margin-bottom:40px;
        margin-left:10px;
        margin-right:5px;
        margin-top:10px;
        orphans:1;
        page-break-after:auto;
        page-break-before:auto;
        text-align:left;
        text-decoration:none;
        text-indent:0;
        text-transform:none;
        widows:1;
    }
    span.Amarillo-16-pts {
        color:#1a428a;
        font-family:"Trebuchet MS", sans-serif;
        font-size:16px;
        font-style:normal;
        font-variant:normal;
        font-weight:normal;
        text-transform:none;
    }
    span.Azul-15-pts-bold-bullet {
        color:#1a428a;
        font-family:"Trebuchet MS", sans-serif;
        font-size:15px;
        font-style:normal;
        font-weight:bold;
    }
    table.TableOverride-1 {
        border-collapse:collapse;
        border-style:none;
        border-width:0px;
        margin-left:10px;
        margin-right:10px;
    }
    td.CellOverride-1 {
        background-color:#1a428a;
        border-bottom-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-left-color:#000000;
        border-left-style:solid;
        border-left-width:0px;
        border-right-color:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-top-color:#000000;
        border-top-style:solid;
        border-top-width:0px;
        padding-bottom:1px;
        padding-left:1px;
        padding-right:1px;
        padding-top:2px;
        vertical-align:middle;
    }
    td.CellOverride-2 {
        background-color:#1a428a;
        border-bottom-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-left-color:#ffffff;
        border-left-style:solid;
        border-left-width:1px;
        border-right-color:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-top-color:#000000;
        border-top-style:solid;
        border-top-width:0px;
        padding-bottom:1px;
        padding-left:1px;
        padding-right:1px;
        padding-top:2px;
        vertical-align:middle;
    }
    td.CellOverride-3 {
        background-color:#1a428a;
        border-bottom-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-left-color:#ffffff;
        border-left-style:solid;
        border-left-width:1px;
        border-right-color:#000000;
        border-right-style:solid;
        border-right-width:0px;
        border-top-color:#000000;
        border-top-style:solid;
        border-top-width:0px;
        padding-bottom:1px;
        padding-left:1px;
        padding-right:1px;
        padding-top:2px;
        vertical-align:middle;
    }
    td.CellOverride-4 {
        border-bottom-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-left-color:#000000;
        border-left-style:solid;
        border-left-width:0px;
        border-right-color:#000000;
        border-right-style:solid;
        border-right-width:0px;
        border-top-color:#000000;
        border-top-style:solid;
        border-top-width:0px;
        padding-bottom:1px;
        padding-left:1px;
        padding-right:1px;
        padding-top:2px;
        vertical-align:middle;
    }
    td.CellOverride-5 {
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-left-color:#000000;
        border-left-style:solid;
        border-left-width:0px;
        border-right-color:#000000;
        border-right-style:solid;
        border-right-width:0px;
        border-top-color:#000000;
        border-top-style:solid;
        border-top-width:0px;
        padding-bottom:1px;
        padding-left:1px;
        padding-right:1px;
        padding-top:2px;
        vertical-align:middle;
    }
    td.CellOverride-6 {
        background-color:#1a428a;
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-left-style:solid;
        border-left-width:0px;
        border-right-color:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-top-style:solid;
        border-top-width:0px;
        padding-bottom:1px;
        padding-left:1px;
        padding-right:1px;
        padding-top:2px;
        vertical-align:middle;
    }
    td.CellOverride-7 {
        background-color:#1a428a;
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-left-color:#ffffff;
        border-left-style:solid;
        border-left-width:1px;
        border-right-color:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-top-style:solid;
        border-top-width:0px;
        padding-bottom:1px;
        padding-left:1px;
        padding-right:1px;
        padding-top:2px;
        vertical-align:middle;
    }
    td.CellOverride-8 {
        background-color:#1a428a;
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-left-color:#ffffff;
        border-left-style:solid;
        border-left-width:1px;
        border-right-style:solid;
        border-right-width:0px;
        border-top-style:solid;
        border-top-width:0px;
        padding-bottom:1px;
        padding-left:1px;
        padding-right:1px;
        padding-top:2px;
        vertical-align:middle;
    }
    td.CellOverride-9 {
        border-bottom-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-left-color:#000000;
        border-left-style:solid;
        border-left-width:0px;
        border-right-color:#000000;
        border-right-style:solid;
        border-right-width:0px;
        border-top-style:solid;
        border-top-width:0px;
        padding-bottom:1px;
        padding-left:1px;
        padding-right:1px;
        padding-top:2px;
        vertical-align:middle;
    }
    td.CellOverride-10 {
        border-bottom-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-left-color:#000000;
        border-left-style:solid;
        border-left-width:0px;
        border-right-color:#000000;
        border-right-style:solid;
        border-right-width:0px;
        border-top-color:#000000;
        border-top-style:solid;
        border-top-width:0px;
        padding-bottom:1px;
        padding-left:1px;
        padding-right:1px;
        padding-top:1px;
        vertical-align:middle;
    }
    td.CellOverride-11 {
        background-color:#1a428a;
        border-bottom-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-left-color:#000000;
        border-left-style:solid;
        border-left-width:0px;
        border-right-color:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-top-color:#000000;
        border-top-style:solid;
        border-top-width:0px;
        padding-bottom:2px;
        padding-left:2px;
        padding-right:2px;
        padding-top:2px;
        vertical-align:middle;
    }
    td.CellOverride-12 {
        background-color:#1a428a;
        border-bottom-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-left-color:#ffffff;
        border-left-style:solid;
        border-left-width:1px;
        border-right-color:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-top-color:#000000;
        border-top-style:solid;
        border-top-width:0px;
        padding-bottom:2px;
        padding-left:2px;
        padding-right:2px;
        padding-top:2px;
        vertical-align:middle;
    }
    td.CellOverride-13 {
        background-color:#1a428a;
        border-bottom-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-left-color:#ffffff;
        border-left-style:solid;
        border-left-width:1px;
        border-right-color:#000000;
        border-right-style:solid;
        border-right-width:0px;
        border-top-color:#000000;
        border-top-style:solid;
        border-top-width:0px;
        padding-bottom:2px;
        padding-left:2px;
        padding-right:2px;
        padding-top:2px;
        vertical-align:middle;
    }
    td.CellOverride-14 {
        background-color:#1a428a;
        border-bottom-color:#ffffff;
        border-bottom-width:1px;
        border-left-color:#000000;
        border-left-style:solid;
        border-left-width:0px;
        border-right-color:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-top-color:#000000;
        border-top-style:solid;
        border-top-width:0px;
        padding-bottom:1px;
        padding-left:1px;
        padding-right:1px;
        padding-top:1px;
        vertical-align:middle;
    }
    td.CellOverride-15 {
        background-color:#1a428a;
        border-bottom-color:#ffffff;
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-left-color:#ffffff;
        border-left-style:solid;
        border-left-width:1px;
        border-right-color:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-top-color:#000000;
        border-top-style:solid;
        border-top-width:0px;
        padding-bottom:1px;
        padding-left:1px;
        padding-right:1px;
        padding-top:1px;
        vertical-align:middle;
    }
    td.CellOverride-16 {
        background-color:#1a428a;
        border-bottom-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-left-color:#ffffff;
        border-left-style:solid;
        border-left-width:1px;
        border-right-color:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-top-color:#ffffff;
        border-top-style:solid;
        border-top-width:1px;
        padding-bottom:1px;
        padding-left:1px;
        padding-right:1px;
        padding-top:1px;
        vertical-align:middle;
    }
    td.CellOverride-17 {
        background-color:#1a428a;
        border-bottom-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-left-color:#ffffff;
        border-left-style:solid;
        border-left-width:1px;
        border-right-color:#000000;
        border-right-style:solid;
        border-right-width:0px;
        border-top-color:#ffffff;
        border-top-style:solid;
        border-top-width:1px;
        padding-bottom:1px;
        padding-left:1px;
        padding-right:1px;
        padding-top:1px;
        vertical-align:middle;
    }
    td.CellOverride-18 {
        border-bottom-color:#000000;
        border-bottom-width:0px;
        border-left-color:#000000;
        border-left-style:solid;
        border-left-width:0px;
        border-right-color:#000000;
        border-right-style:solid;
        border-right-width:0px;
        border-top-color:#000000;
        border-top-style:solid;
        border-top-width:0px;
        padding-bottom:1px;
        padding-left:1px;
        padding-right:1px;
        padding-top:1px;
        vertical-align:middle;
    }
    td.CellOverride-19 {
        border-bottom-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-left-color:#000000;
        border-left-style:solid;
        border-left-width:0px;
        border-right-color:#000000;
        border-right-style:solid;
        border-right-width:0px;
        border-top-color:#000000;
        border-top-width:0px;
        padding-bottom:1px;
        padding-left:1px;
        padding-right:1px;
        padding-top:1px;
        vertical-align:middle;
    }
    td.CellOverride-20 {
        background-color:#1a428a;
        border-bottom-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-left-color:#000000;
        border-left-style:solid;
        border-left-width:0px;
        border-right-color:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-top-color:#000000;
        border-top-style:solid;
        border-top-width:0px;
        padding-bottom:1px;
        padding-left:1px;
        padding-right:1px;
        padding-top:1px;
        vertical-align:middle;
    }
    td.CellOverride-21 {
        background-color:#1a428a;
        border-bottom-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-left-color:#ffffff;
        border-left-style:solid;
        border-left-width:1px;
        border-right-color:#000000;
        border-right-style:solid;
        border-right-width:0px;
        border-top-color:#000000;
        border-top-style:solid;
        border-top-width:0px;
        padding-bottom:1px;
        padding-left:1px;
        padding-right:1px;
        padding-top:1px;
        vertical-align:middle;
    }
    p.ParaOverride-1 {
        list-style-type:none;
    }
    p.ParaOverride-2 {
        margin-top:20px;
    }
    p.ParaOverride-3 {
        text-align:center;
    }
    p.ParaOverride-4 {
        margin-top:10px;
    }
    p.ParaOverride-5 {
        list-style-type:none;
        margin-bottom:3px;
    }
    p.ParaOverride-6 {
        margin-bottom:5px;
    }
    p.ParaOverride-7 {
        list-style-type:none;
        margin-bottom:1px;
    }
    p.ParaOverride-8 {
        margin-bottom:30px;
    }
    p.ParaOverride-9 {
        margin-top:20px;
        text-align:center;
    }
    p.ParaOverride-10 {
        margin-bottom:5px;
        text-align:center;
    }
    p.ParaOverride-11 {
        list-style-type:none;
        margin-bottom:80px;
    }
    span.CharOverride-1 {
        font-family:"Gandhi Serif", serif;
        font-style:normal;
        font-weight:normal;
    }
    span.CharOverride-2 {
        font-style:italic;
        font-weight:normal;
    }
    span.CharOverride-3 {
        font-style:normal;
        font-weight:bold;
    }
    span.CharOverride-4 {
        color:#1a428a;
        font-style:normal;
        font-weight:bold;
    }
    span.CharOverride-5 {
        color:#1a428a;
    }
    span.CharOverride-6 {
        color:#ffffff;
        font-style:normal;
        font-weight:bold;
    }
    span.CharOverride-7 {
        font-size:13px;
    }
    span.CharOverride-8 {
        font-size:58%;
        vertical-align:sub;
    }
    span.CharOverride-9 {
        font-size:58%;
        vertical-align:super;
    }
    span.CharOverride-10 {
        font-size:17px;
    }
    span.CharOverride-11 {
        font-style:italic;
        font-weight:bold;
    }
    span.CharOverride-12 {
        color:#ffffff;
    }
    td._idGenCellOverride-1 {
        border-bottom-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:0px;
    }
    td._idGenCellOverride-2 {
        border-right-color:#000000;
        border-right-style:solid;
        border-right-width:0px;
    }
    col._idGenTableRowColumn-1 {
        width:404px;
    }
    col._idGenTableRowColumn-2 {
        width:148px;
    }
    col._idGenTableRowColumn-3 {
        width:168px;
    }
    tr._idGenTableRowColumn-4 {
        min-height:25px;
    }
    tr._idGenTableRowColumn-5 {
        background-color:#e8ecf3;
        min-height:25px;
    }
    tr._idGenTableRowColumn-6 {
        background-color:#bac6dc;
        min-height:25px;
    }
    tr._idGenTableRowColumn-7 {
        background-color:#bac6dc;
        min-height:29px;
    }
    col._idGenTableRowColumn-8 {
        width:620px;
    }
    tr._idGenTableRowColumn-9 {
        background-color:#1a428a;
        min-height:25px;
    }
    tr._idGenTableRowColumn-10 {
        background-color:#e8ecf3;
        min-height:105px;
    }
    tr._idGenTableRowColumn-11 {
        background-color:#e8ecf3;
        min-height:59px;
    }
    col._idGenTableRowColumn-12 {
        width:336px;
    }
    tr._idGenTableRowColumn-13 {
        background-color:#bac6dc;
        min-height:59px;
    }
    col._idGenTableRowColumn-14 {
        width:188px;
    }
    col._idGenTableRowColumn-15 {
        width:194px;
    }
    col._idGenTableRowColumn-16 {
        width:252px;
    }
    col._idGenTableRowColumn-17 {
        width:358px;
    }
    col._idGenTableRowColumn-18 {
        width:151px;
    }
    tr._idGenTableRowColumn-19 {
        background-color:#e8ecf3;
        min-height:36px;
    }
    col._idGenTableRowColumn-20 {
        width:346px;
    }
    col._idGenTableRowColumn-21 {
        width:232px;
    }
    tr._idGenTableRowColumn-22 {
        min-height:30px;
    }
    tr._idGenTableRowColumn-23 {
        background-color:#e8ecf3;
        min-height:82px;
    }
    tr._idGenTableRowColumn-24 {
        background-color:#bac6dc;
        min-height:36px;
    }
    tr._idGenTableRowColumn-25 {
        background-color:#e8ecf3;
        min-height:128px;
    }
    tr._idGenTableRowColumn-26 {
        background-color:#bac6dc;
        min-height:82px;
    }

    div._idGenObjectStyleOverride-1 {
        border-width:0px;
    }
    
}
